.footer {
  background-color: #0c0c0f;
  color: #f4f4f4;
  padding: 50px 20px 20px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #444;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #a09fb7;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-links a,
.footer-policies a,
.footer-social a {
  display: block;
  color: #f4f4f4;
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover,
.footer-policies a:hover,
.footer-social a:hover {
  color: #9f9ead;
}

.footer-newsletter input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-right: 8px;
  width: 70%;
  max-width: 200px;
}

.footer-newsletter button {
  padding: 10px 25px;
  border-radius: 6px;
  margin-top: 10PX;
  border: none;
  background-color: #504e78;
  color: #fff;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}
