/* frontend/src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color:#f6f6f7;
  color: white;
  position: relative;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  height: 70px;
  
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between logo and text */
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(14, 13, 13);
}

.logo-img {
  height: 40px; /* adjust the size */
  width: auto;
}

.nav-logo:hover {
  color: #020302;
}
.nav-menu {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #121212;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem;
  border-top: 1px solid #444;
}
.nav-menu.open {
  display: flex;
}
.nav-link {
  padding: 0.75rem 0;
  color: rgb(20, 14, 14);
  text-decoration: none;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #060906;
}
.menu-toggle {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.logout-btn {
  background: none;
  border: none;
  color:black;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  padding: 0.75rem 0;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;
    align-items: center;
    gap: 1.5rem;
    border-top: none;
  }
  .menu-toggle {
    display: none;
  }
  .logout-btn {
    text-align: center;
    padding: 0;
  }
}


.notification-container {
  position: relative;
  margin-left: 700px;
  padding-top: 8px;
}

.bell-icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: #333;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  text-align: center;
  min-width: 18px;
  line-height: 1.2;
}

/* Dropdown styling */
.notification-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  width: 250px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 100;
}

.notification-item {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  color: #333;
}

.notification-item.unread {
  font-weight: bold;
  background-color: #f9f9f9;
}

.notification-item:hover {
  background-color: #f1f1f1;
}

.no-notifications {
  padding: 0.5rem;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
}

